/*General styles*/

*{
  margin: 0px;
  padding: 0px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  font-weight: 600 !important;

  background-image: url("img/bkg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

footer{
  position: fixed;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 4px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
}

.content{
  position: relative;
  margin: 60px auto;
  width: 90%;
  max-width: 700px;
}

.wrap{
  padding: 20px;
  background: rgba(255,255,255,0.7);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
}
/*End general style*/

/*Information Style*/
.info{
  width: 100%;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.photo{
  position: relative;
  width: 30%;
  text-align: center;
}

.photo img{
  width: 60%;
  height: auto;

  border-radius: 20%;
  -webkit-box-shadow: 1px 3px 10px 0px #565656;
  box-shadow: 1px 3px 10px 0px #565656;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.photo img:hover{
  width: 70%;
  border-radius: 10%;
  -webkit-box-shadow: 2px 6px 10px 0px #565656;
  box-shadow: 2px 6px 10px 0px #565656;
}

.desc{
  width: 70%;
  position: relative;
  margin-bottom: 20px
}

.desc h1{
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 800;
}

.desc p{
  margin-bottom: 15px;
}

.desc ul li{
  text-indent: 0em;
  list-style-position: inside;
  list-style-type: disc;
}

.desc ul li ul li{
  text-indent: 2em;
  list-style-position: inside;
  list-style-type: circle;
}

/*End information style*/

/*Contact style*/
.hide{
  display: none;
}

.displayContact{
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0px;
  top: 0px;
}

.form{
  width: 90%;
  margin: auto;
  max-width: 500px;
}

.contact{
  width: 40%;
  padding: 4px;
  display: flex;

  margin: 10% auto;

  background: rgba(255, 255, 255, 1);

  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);

  justify-content: space-between;
  flex-wrap: wrap
}

.titulo{
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.style1{
  border: none;
  outline: none;
  background: none;

  color: #6c6c6c;

  border-bottom : 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;

  -webkit-box-shadow: 1px 1px 2px 0px rgba(162,162,162,0.5);
  box-shadow: 1px 1px 2px 0px rgba(162,162,162,0.5);
}

.style1:hover{
  color: #a2a2a2;
  border-bottom : 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
  -webkit-box-shadow: 2px 6px 8px 0px rgba(86,86,86,0.5);
  box-shadow: 2px 6px 8px 0px rgba(86,86,86,0.5);
}

.style1:focus{
  color: #005600;
  border-bottom : 1px solid #005600;
  border-right: 1px solid #005600;
  -webkit-box-shadow: 1px 3px 6px 0px rgba(0,86,0,0.5);
  box-shadow: 1px 3px 6px 0px rgba(0,86,0,0.5);
}

.inputGroup{
  width: 60%;
  position: relative;
  margin: auto;
  margin-bottom: 12px;
  font-size: 12px;
}

.textArea{
  width: 90%;
  position: relative;
  margin: auto;
  margin-bottom: 12px
}

.inputGroup input[type="text"], .inputGroup input[type="email"]{
  width: 100%;
  padding: 10px;
  margin: auto;
}

.inputGroup:nth-last-child(1){
  text-align: center;
}

div.close{
    position: absolute;
    right: 32%;
    padding: 0px;
    text-align: right;
}

.lnkClose{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #b0b0b0;
}

.inputGroup input[type="submit"]{
 /*Tamaños y posiciones*/
  width: 50%;
  position: relative;
  padding: 8px;
  font-size: 16px;
  margin: auto;

  background: none;
  outline: none;
  border: none;

  background: #f3f3f3;
  color: #000;
  font-weight: 600;

  cursor: pointer;
}

.inputGroup input[type="submit"]:hover{
  background: #000;
  color: #f3f3f3;
}

.inputGroup input[type="submit"]:disabled{
  background: #575757;
  color: #f3f3f3;
  cursor: default;
}

.textArea textarea{
  width: 100%;
  padding: 10px;
  margin: auto;
}

.label{
  font-size: 12px;
  color: grey;
  font-weight: 600;
}

.anim{
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

@media screen and (max-width: 960px) {
  .contact{
    width: 50%;
  } 
    .close{right: 28% !important;}
}

@media screen and (max-width: 720px) {
  .photo{
    width: 100%;
  }

  .photo img{
    width: 20%
  }
  .photo img:hover{
    width: 22%
  }

  .desc{
    width: 100%;
  }
    
    .close{right: 12% !important;}
    .lnkClose{font-weight: 600;}

  .contact{
    width: 80%;
  }

  .inputGroup{
    width: 90%;
  }
}
